* {
    margin: 0;
    box-sizing: border-box;
}
.main__body {
    display: flex;
}
.timelineFeed {
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
.cover {
    max-width: 50%;
}
@media (max-width: 576px) {
    .timelineFeed {
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
        padding: 0 !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .timelineFeed {
        margin: 20px auto;
        width: 90% !important;
        max-width: 90% !important;
        padding: 0px !important;
    }
}
@media (max-width: 1024px) {
    .timelineFeed {
        max-width: 100%;
        padding: 10px 50px;
    }
}
@media (min-width: 1025px) and (max-width: 1850px) {
    .timelineFeed {
        max-width: 75%;
        padding: 10px 50px;
    }
    .cover {
        max-width: 75%;
    }
}
