* {
	margin: 0;
	box-sizing: border-box;
}
.main__body {
	display: flex;
}
.feed {
	flex: 1;
	padding: 30px 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}

@media (max-width: 540px) {
	.feed {
		margin-top: 20px;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
}
@media (min-width: 540px) and (max-width: 768px) {
	.feed {
		margin: 20px auto;
		width: 90%;
		max-width: 90%;
		padding: 0;
	}
}

@media (min-width: 769px) and (max-width: 1440px) {
	/* CSS To Target 767 px width of screen */

	.feed {
		width: 50%;
		padding: 10px 50px;
	}
}
